<%- include('partials/header') %>

    <h1>This is the about page</h1>
    <img src="/assets/dogadmin.jpg" alt="an admin dog staring at a desktop computer">

    <%# const languages = ['Java', 'Go', 'PHP', 'JavaScript', 'Python', 'C++', 'Rust'] %>

    <ul>

        <% for(let language of languages) { %>
            

             <% if(language.length > 4) { %>
                <li><%= language %></li>
               <% }  else {%>
                <p>.........</p>
                <% } %>
       <% } %>

    </ul>

 <%- include('partials/footer') %>