<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main class="container" id="create">
        <h1>Create a ticket</h1>
        <form action="/create" method="post">
            <label for="">Title</label>
            <input class="form-input" type="text" name="title" id="">
            <label for="">Body</label>
            <textarea class="form-input" name="body" id="" cols="30" rows="20"></textarea>
            <input type="submit" value="Add Note">
        </form>
    </main>
<%- include('partials/footer')%>