<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main>
        <h1>Create a note</h1>
        <form action="/create" method="post">
            <label for="">Title</label>
            <input type="text" name="title" id="">
            <label for="">Body</label>
            <textarea name="body" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Add Note">
        </form>
    </main>
<%- include('partials/footer')%>