<%- include('partials/header') %>

   <main id="home" class="container">
    <div class="col">
        <p><b>Kezo</b> helps you to accurately organize your notes <br>in one place</p>
        <a href="/notes">view notes</a>
    </div>
    <div class="col">
        <img src="/assets/notes.png" alt="">
    </div>
   </main>

<%- include('partials/footer') %>