<%- include('partials/header') %>
    <%- include('partials/nav') %>

   <main id="note" class="container">
    <h2><%= note.title %></h2>
    <p><%= note.body %></p>
   </main>
<% include('partials/footer') %>