@font-face {
    font-family: Raleway;
    src: url('Raleway.ttf');
}


* {
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

nav {
    height: 60px;
    background-color: #0E86D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav li {
    display: inline;
    margin-left: 10px;
}

/* homepage */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

#home p {
    font-size: 22px;
    margin-bottom: 10px;
}

#home a {
    text-decoration: none;
    background-color: #0E86D4;
    border: 1px solid #0E86D4;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px;


}

#home .col {
    width: 50%;
}

#home img {
    width: 100%;
}

/* notes */

#notes h3 {
    margin-bottom: 10px;
}

#notes a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

#notes a:hover {
    text-decoration: underline;
}

/* end. note */

/* note */
#note small {
    color: #808080;

}

#note p {
    margin: 5px 0;
    text-align: justify;
}

#note div {
    display: flex;
}

#note .btn {
    color: #fff;
    padding: 4px 8px;
    font-size: 13px;

}

#note #edit-btn {
    background-color: #008000;
    border: 1px solid #008000;
    margin-right: 5px;
    text-decoration: none;
}

#note #delete-btn {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

/* end. note */


/* create/edit */

#create form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#create .form-input {
    padding: 4px;
    margin-bottom: 5px;
}

#create input[type="submit"] {
    color: #fff;
    width: max-content;
    padding: 4px 8px;
    font-size: 13px;
    background-color: #008000;
    border: 1px solid #008000;
}

/* end create/edit */